@model ListModel<Car>

@{
    ViewData["Title"] = "Cars";

    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    var categories = ViewData["caregories"] as List<Category>;
    var currentCategory = ViewData["currentCategory"] as Category;

}

<h1>Автомобили</h1>


<div class="row">

    <!-- Выбор категории -->
    <h2>Категории автомобилей</h2>
    <div class="col-2">
        <ul class="nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-expanded="false">
                    <b>@(currentCategory?.Name ?? "Все")</b>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-controller="Car"
                           asp-route-category=@null><b>Все</b></a>
                    </li>
                    @foreach (var item in categories!)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Car"
                               asp-route-category="@item.NormalizedName">
                               @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <!-- Выбор категории - конец -->

    <!-- Вывод карточек -->
    <div class="col-10 row">
        @foreach (var car in Model.Items)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@car.Image" width="100" height="250" class="card-img-top" alt="@car.Name">
                    <div class="card-body">
                        <h5 class="card-title">Марка: @car.Name</h5>
                        <div class="card-text">Цена: @car.Price</div>
                        <p class="card-text"> Описание: @car.Description</p>
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@car.Id" asp-route-returnurl="@returnUrl"
                           class="btn btn-primary">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Вывод карточек - конец -->

    <!-- Пагинация -->
    <Pager current-page="@Model.CurrentPage"
           total-pages="@Model.TotalPages"
           category="@(currentCategory?.NormalizedName)"></Pager>
    <!-- Пагинация - конец -->

</div>

